.header {
  margin: 33px 0 69px 0;
}

.header__inner {
  display: flex;
  justify-content: space-between;
}

.menu__list {
  display: flex;
  gap: 60px;
}

.menu__list-item {
  font-size: 18px;
  line-height: 25px;
  text-decoration: none;
}

.menu__list-item:after {
  content: "";
  background-color: #121212;
  display: block;
  opacity: 0.5;
  width: 0%;
  height: 1px;
}

.menu__list-item:hover {
  opacity: 0.5;
}

.menu__list-item:hover:after {
  width: 100%;
}

@media (max-width: 1199px) {
  .header__menu {
    display: none;
  }
}
@media (max-width: 767px) {
  .header {
    margin: 33px 0 57.76px 0;
  }
}
