.about-us h2 {
  margin-bottom: 30px;
}
.about-us p {
  max-width: 1048px;
  font-size: 45px;
  line-height: 61px;
  letter-spacing: -0.03em;
  color: #121212;
  margin-bottom: 29px;
  margin-left: 1px;
}
.btn_services {
  line-height: 27px;
  font-size: 20px;
  background: #ad1818;
  border-radius: 5px;
  display: inline-block;
  padding: 20px 40px;
  color: #ffffff;
  cursor: pointer;
  text-align: center;
  letter-spacing: -0.03em;
  text-decoration: none;
}

@media (max-width: 1199px) {
  .about-us p {
    max-width: 690px;
    font-size: 35px;
    line-height: 48px;
  }
}
@media (max-width: 767px) {
  .about-us h2 {
    margin-bottom: 20px;
  }
  .about-us p {
    max-width: 100%;
    font-size: 22px;
    line-height: 30px;
  }
  .btn_services {
    width: 100%;
    font-size: 16px;
    line-height: 22px;
    background: #ad1818;
    border-radius: 3.80172px;
    display: inline-block;
    padding: 14.5px 27px;
  }
}
