.about__title {
  margin-bottom: 30px;
}
.about__description {
  max-width: 1048px;
  font-size: 45px;
  line-height: 61px;
  margin-bottom: 29px;
  margin-left: 1px;
}
.about__btn_services {
  line-height: 27px;
  font-size: 20px;
  width: 255px;
  padding: 20px 40px;
}


@media (max-width: 1199px) {
  .about__description {
    max-width: 690px;
    font-size: 35px;
    line-height: 48px;
  }
}
@media (max-width: 767px) {
  .about__title {
    margin-bottom: 20px;
  }
  .about__description {
    max-width: 100%;
    font-size: 22px;
    line-height: 30px;
  }
  .about__btn_services {
    width: 100%;
    font-size: 16px;
    line-height: 22px;
    background: #ad1818;
    border-radius: 3.8px;
    display: inline-block;
    padding: 14.5px 27px;
  }
}
