.contacts__block {
  margin-top: 25px;
  display: flex;
}

.contacts__phone,
.contacts__mail {
  width: 50%;
}

.contacts__phone::before,
.contacts__mail::before {
  content: "";
  display: block;
  margin-bottom: 26px;
  width: 24px;
  height: 24px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.contacts__phone::before {
  background-image: url(../resources/phone.png);
}

.contacts__mail::before {
  background-image: url(../resources/mail.png);
}

.contacts__phone_link {
  display: block;
  font-size: 60px;
  line-height: 60px;
}

.contacts__mail_link {
  display: inline-block;
  font-size: 60px;
  line-height: 50px;
  opacity: 0.5;
  padding-bottom: 8px;
  border-bottom: 2px solid rgba(0, 0, 0, 0.5);
}

@media (max-width: 1199px) {
  .contacts__phone_link {
    font-size: 45px;
  }
  .contacts__mail_link {
    font-size: 45px;
  }
}

@media (max-width: 767px) {
  .contacts__block {
    margin-top: 21px;
    flex-direction: column;
    gap: 20px;
  }
  .contacts__phone,
  .contacts__mail {
    width: 100%;
  }
  .contacts__phone::before,
  .contacts__mail::before {
    margin-bottom: 20px;
    width: 18px;
    height: 18px;
  }
  .contacts__phone_link {
    font-size: 35px;
    line-height: 46px;
  }
  .contacts__mail_link {
    font-size: 35px;
    line-height: 46px;
    opacity: 1;
    border-bottom: none;
  }

}
