.footer {
  background-color: #121212;
  padding: 60px 0 30px 0;
}


.footer__menu-list {
  margin: auto;
  display: flex;
  max-width: 450px;
  justify-content: space-between;
}

.footer__menu-list__item {
  font-size: 18px;
  line-height: 25px;
  color: #ffffff;
}

.footer__menu-list__item:hover {
  opacity: 0.5;
}

.footer__title {
  margin-top: 87px;
  text-align: center;
  font-size: 20px;
  line-height: 27px;
  color: #ffffff;
  opacity: 0.5;
}

@media (max-width: 767px) {
  .footer {
    padding: 30px 0 26px 0;
  }
  
  .footer__menu-list {
    max-width: 281px;
  }
  .footer__menu-list__item {
    font-size: 12px;
    line-height: 16px;
  }
  .footer__title {
    margin-top: 41px;
    text-align: center;
    font-size: 13px;
    line-height: 18px;
  }
}
