.gallery {
  position: relative;
  height: 717px;
  width: 100%;
}

.gallery__title {
  position: absolute;
  top: 67px;
  font-weight: 400;
  font-size: 22px;
  line-height: 30px;
  letter-spacing: -0.03em;
  color: #ffffff;
  z-index: 100;
}

.gallery__text {
  position: absolute;
  bottom: 60px;
  font-weight: 400;
  font-size: 30px;
  line-height: 41px;
  letter-spacing: -0.03em;
  color: #ffffff;
}
.gallery__controls {
  position: absolute;
  left: auto;
  bottom: 165px;
  z-index: 100;
  display: flex;
}

.gallery__prev,
.gallery__next {
  border: none;
  background: none;
  background-repeat: no-repeat;
  background-position: left;
  width: 40px;
  height: 40px;
}

.gallery__prev:hover,
.gallery__next:hover {
  opacity: 0.5;
}

.gallery__prev {
  background-image: url(./resources/control-prev.png);
}

.gallery__next {
  background-image: url(./resources/control-prev.png);
  transform: rotate(180deg);
}
.gallery__slides {
  width: 100%;
  height: 100%;
}

.gallery__slide {
  position: absolute;
  height: 100%;
  width: 100%;
  object-fit: cover;
  opacity: 0;
}

.gallery__slide-active {
  opacity: 1;
}

.gallery__image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

@media (max-width: 1199px) {
  .gallery {
    height: 536px;
  }
  .gallery__title {
    top: 80px;
    left: 50px;
    font-size: 20px;
    line-height: 27px;
  }

  .gallery__text {
    bottom: 80px;
    left: 50px;
    font-size: 25px;
    line-height: 34px;
  }

  .gallery__controls {
    left: 50px;
    bottom: 155px;
  }
}

@media (max-width: 767px) {
  .gallery {
    height: 408px;
  }
  .gallery__title {
    top: 61px;
    left: 12px;
    font-size: 14px;
    line-height: 19px;
  }
  .gallery__text {
    bottom: 60px;
    left: 13px;
    font-size: 19.0086px;
    line-height: 26px;
  }
  .gallery__controls {
    left: 13px;
    bottom: 191px;
    width: calc(100% - 26px);
    justify-content: space-between;
  }
  .gallery__prev,
  .gallery__next {
    width: 30px;
    height: 30px;
  }
}
