.body_fixed {
  overflow: hidden;
}

.popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.7);
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.2s ease;
}

.popup_open {
  opacity: 1;
  visibility: visible;
}

.popup__content {
  position: relative;
  max-height: 100%;
  overflow-y: auto;
  padding-top: 94px;
  padding-left: 55px;
  padding-right: 74px;
  padding-bottom: 86px;
  background: #ffffff;
  border-radius: 10px;
}

.popup__close-btn {
  position: absolute;
  right: 44px;
  top: 42px;
  width: 30px;
  height: 30px;
  background-image: url(../resources/popup-close.png);
  cursor: pointer;
}

.popup_header {
  padding-left: 108px;
  padding-right: 92px;
}

.popup__title {
  font-size: 45px;
  line-height: 61px;
  text-align: center;
  margin-bottom: 4px;
}

.popup__description {
  font-size: 18px;
  line-height: 25px;
  text-align: center;
  margin-bottom: 60px;
}

.input {
  box-sizing: border-box;
  display: block;
  margin-bottom: 50px;
  width: 100%;
  font-size: 25px;
  line-height: 34px;
  border: none;
  border-bottom: 1px solid #000000;
}
form {
  margin-bottom: 86px;
}

.input:focus {
  outline: none;
}

.input::placeholder {
  color: #000000;
  opacity: 0.5;
}

.popup__btn-send {
  line-height: 27px;
  font-size: 20px;
  padding: 20px;
}

@media (max-width: 1199px) {
  .popup__close-btn {
    right: 54px;
  }
}

@media (max-width: 767px) {
  .popup {
    padding-left: 14px;
    padding-right: 11px;
    background-color: rgba(0, 0, 0, 0.2);
  }
  .popup__content {
    padding-top: 80px;
    padding-left: 16px;
    padding-right: 16px;
  }
  .popup__close-btn {
    right: 35px;
    top: 46px;
    width: 18px;
    height: 18px;
    background-size: cover;
  }
  .popup_header {
    padding-left: 60px;
    padding-right: 60px;
  }
  .popup__title {
    font-size: 25px;
    line-height: 34px;
    margin-bottom: 11px;
  }
  .popup__description {
    font-size: 14px;
    line-height: 19px;
  }
  .input {
    font-size: 18px;
    line-height: 25px;
    margin-bottom: 40px;
  }
  form {
    margin-bottom: 80px;
  }
}
