.projects__title {
  margin-bottom: 30px;
}
.project__item {
  margin-bottom: 90px;
}
.project__image {
  width: 100%;
}
.project__title {
  margin: 14px 0 14px 0;
}
.project__link {
  font-size: 20px;
  line-height: 27px;
  color: #ad1818;
  cursor: pointer;
}
.projects__btn {
  line-height: 41px;
  font-size: 30px;
  padding: 56px;
  border: 1px solid #ad1818;
  color: #ad1818;
  background: #ffffff;
}
.projects__btn:hover {
  background: #ad1818;
  color: #ffffff;
}

@media (max-width: 1199px) {
  .projects__list {
    padding-bottom: 20px;
  }
  .project__item {
    margin-bottom: 77px;
  }
  .project__title {
    margin: 15px 0 10px 0;
  }
}

@media (max-width: 767px) {
  .projects__title {
    margin-bottom: 20px;
  }
  .projects__list {
    padding-bottom: 11px;
  }
  .project__item {
    margin-bottom: 49px;
  }
  .project__title {
    margin: 19px 0 9px 0;
  }
  .project__link {
    font-size: 16px;
    line-height: 22px;
  }
  .projects__btn {
    max-height: 100px;
    padding: 37px 0;
    font-size: 22px;
    line-height: 30px;
    border-radius: 3.8px;
  }
}
