.reviews h2 {
  margin-top: 150px;
  margin-bottom: 30px;
  
}

.reviews_inner {
  display: flex;
  flex-wrap: wrap;
  column-gap: 50px;
  row-gap: 80px;
}

.review {
  width: calc(50% - 25px);
}

.review:last-child:nth-child(2n + 1) {
  width: 75%;
}

.review__text {
  font-size: 22px;
  line-height: 30px;
  letter-spacing: -0.03em;
}

.reviews h4 {
  margin-bottom: 15px;
}

@media (max-width: 1199px) {
  .reviews h2 {
    margin-top: 120px;
  }
  .reviews h4 {
    margin-bottom: 25px;
  }
  .reviews_inner {
    column-gap: 10px;
    row-gap: 80px;
  }

  .review {
    width: calc(50% - 5px);
    
  }

  .review__text {
    font-size: 20px;
    line-height: 27px;
  }
}

@media (max-width: 767px) {
  .reviews h4 {
    margin-bottom: 10px;
  }
  .review__text {
    font-size: 16px;
    line-height: 22px;
    
  }
  .reviews h2 {
    margin-top: 80px;
    margin-bottom: 22px;
    margin-left: 2px;
  }
  
  .reviews_inner {
    flex-direction: column;
    row-gap: 76px;
  }
  .review {
    width: 100%;
  }
  .review:last-child:nth-child(2n + 1) {
    width: 100%;
  }
}
