@import "../styles/interior.css";
@import "../styles/aboutus.css";
@import "../styles/projects.css";
@import "../styles/services.css";
@import "../styles/reviews.css";
@import "../styles/gallery.css";
@import "../styles/contacts.css";
@import "../styles/footer.css";
@import "../styles/popup.css";
@import "../styles/header.css";
@import "../styles/burger.css";

html {
  scroll-behavior: smooth;
}
body {
  font-family: "Manrope", sans-serif;
  background-color: #ffffff;
 
}
.container {
  width: 1150px;
  margin: 0 auto;
}

.container-black {
  background-color: #121212;
}

.main__inner {
  padding-top: 70px;
}

section {
  padding-bottom: 150px;
}
h1 {
  font-size: 60px;
  line-height: 60px;
}
h2 {
  font-size: 18px;
  line-height: 25px;
}
h3 {
  font-size: 30px;
  line-height: 41px;
}
h4 {
  font-size: 45px;
  line-height: 61px;
}
h1,
h2,
h3,
h4 {
  font-weight: 400;
  color: #121212;
  letter-spacing: -0.03em;
}

/*Адаптив*/
@media (max-width: 1199px) {
  .container {
    width: 100%;
    margin: 0 auto;
    padding-left: 16px;
    padding-right: 16px;
  }
  section {
    padding-bottom: 120px;
  }

  section:nth-child(3) {
    padding-bottom: 100px;
  }
  
  h1 {
    max-width: 802px;
    font-size: 50px;
  }
  h3 {
    font-size: 25px;
    line-height: 34px;
  }
  h4 {
    font-size: 35px;
    line-height: 48px;
  }
}

@media (max-width: 767px) {
  .container {
    width: 100%;
    margin: 0 auto;
    padding-left: 12px;
    padding-right: 12px;
  }
  .main__inner {
    padding-top: 64.76px;
  }
  section {
    padding-bottom: 80px;
  }
  section:nth-child(3) {
    padding-bottom: 80px;
  }
  
  
  h1 {
    max-width: 100%;
    font-size: 30px;
    line-height: 32px;
  }
  h2 {
    font-size: 14px;
    line-height: 19px;
  }
  h3 {
    font-size: 18px;
    line-height: 25px;
  }
  h4 {
    font-size: 25px;
    line-height: 34px;
  }
}
